/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 28px;
  padding-top: 0;
  overflow-x: hidden;

  /*background:rgb(129,175,177) !important;*/
}

#navbar {
    height:70px !important;
    min-height:70px !important;
}

.sidebar {
  overflow-x: hidden;
  width:240px;
  position: absolute;
  top: 70px;
  bottom: 4px;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-y: scroll;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  font-size: 12px;
  line-height: 2.0em;
}

h3 {
    margin:0px !important;
}

.playlist-list li {
    cursor:pointer;
}

#track-table tr {
    cursor:pointer;
}

#main-wrapper {
    width:95%;
}

#the-track-list {
    height:600px;
}

.sidebar h4 {
    font-size:14px;
    text-transform:uppercase;
    padding:0px;
    margin-bottom:0px;
    margin-left:-10px;
    cursor:pointer;
    color:#666666;
}

#main-area {
  position:absolute;
  top: 75px;
  left:250px;
  bottom: 5px;
  right:15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist-list {
  overflow-x: hidden;
  text-align: left;
  list-style:none;
  margin-left:0px;
  padding-left:0px;
  white-space:nowrap;
}

#footer {
  margin-top:10px;
  width: 90%;
  height: 18px;
}

#footer p {
    font-size:12px;
}

.sp-jumbotron-custom-inverse {
  /*background-image: url(images/background.jpg);*/
}

#main {
    background-image: url(images/organize.jpg);
}   

#playlists {
    display:none;
    font-size:18px;
}

#loaded {
    display:none;
}

#loading {
}

#loading-header {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}

#single-playlist {
    display:none;
}


@media screen and (min-width: 768px) {
  .sp-jumbotron-custom {
  }
}


.h1 {
  margin-bottom: 42px; /* (@padding-base-vertical * 7) */
}

.top {
    margin-top:66px;
    position:relative;
}

img {
  margin: 0 auto;
}

h3 {
  font-weight: 600; /* @font-weight-semibold */
  margin-top: 12px;
}


p {
  margin-bottom: 18px; /* a little more breathing room between feature tiles in mobile
view) */
}

@media screen and (min-width: 992px) {
  p {
    margin-bottom: 12px; /* reset to default */
  }
}

#info {
    color:white;
    margin-top:20px;
    font-size:24px;
}

#oldinfo {
    font-size:18px;
    height:32px;
    text-align:left;
}

#linfo {
    font-size:18px;
    height:32px;
    text-align:left;
}

#playlist-title {
    text-transform:capitalize;
    margin-bottom:0px;
}

#playlist-sub-title {
    margin-bottom:10px;
}

#song-table tbody tr.selected {
    background-color:#81b71a;
}

.selected {
    background-color:#C3F0C8;
}

#song-table th {
    font-size:14px !important;
}

#song-table td {
    font-size:10px !important;
}

.nav-bar {
    height:72px !important;
    min-height:72px !important;
}

.fine-print {
  margin-bottom: 30px; /* (@padding-base-vertical * 5) */
}

.go {
    margin-bottom:20px;
}

.playable:hover {
    color:#2ebd59;
}

.playing {
    color:#2ebd59;
    font-weight:bolder;
}

#save-button {
    margin-right:20px;
    font-size:24px;
    cursor:pointer;
}


#ttext {
    margin-top:20px;
    margin-bottom:30px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;

}

#ttitle {
    color:white;
}

#jumbo-dialog {
    color:white;
    background: rgba(50,50,50, 0.3);
    border-radius:15px;
}


.hoverable {
    cursor: pointer;
}

#playlist-list {
  text-align: left
}
#playlist-list th {
  font-weight: bold
}

#min-bpm,#max-bpm {
  width:100px;
}

/* Loading spinner based on following stackoverflow answer:
    http://stackoverflow.com/questions/15982233/spinner-for-twitter-bootstrap-btn 
    http://jsfiddle.net/oshybystyi/v04ag5ch/4/ */

.has-spinner .fa-spinner {
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .fa-spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

#tiny-track {
    font-size:10px;
    height:10px;
    margin-bottom:8px;
}

.stats {
    font-size:8px;
    margin-left:6px;
}

#uri-prompt {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    padding-bottom:40px;
    color:#ffffff;
    font-size:24px;
    display:none;
}

#uri-go {
}

#uri-text {
   height:44px;
}

.work {
    display:none;
}

.err-txt {
    height:32px;
}

#favs {
    display:none;
}

.fav-text {
    text-transform:capitalize;
    font-weight:bolder;
}

.loading-text {
    margin:20px;
}

#what-label {
    text-align:left;
    color:#EEEEEE;
    font-size:28px;

}

#the-plots {
}

#the-plot {
    margin-top:20px;
}

#plot-controls {
    margin-top:5px;
    margin-left:10px;
}
#plot-controls label {
    font-weight:normal;
}


#plot-buttons {
    margin-top:20px;
}

.nbtn {
    font-size: 10px;
    line-height: 1.5;
    border-radius: 5px;
    padding: 6px 6px 6px;
    transition: background-color .15s ease,border-color .15s ease,color .15s
ease;
    border-width: 0;
    letter-spacing: 1.2px;
    //min-width: 130px;
    //text-transform: uppercase;
    white-space: normal;
}

a#the-track-table_previous.paginate_button {
    padding-right:10px !important;
    margin-right:10px !important;
}

a#the-track-table_next.paginate_button {
    padding-right:10px !important;
    margin-right:10px !important;

}

.goog-custom-button {
}

#staging-playlist-name {
    font-size:32px;
}

.track-play {
    font-size:24px;
    visibility:hidden;
}

.google-visualization-table-tr-over .track-play {
    color: rgba(59, 153, 252, 1.0);
    visibility:visible;
}

.track-select {
    text-align: center;
    transform:scale(1.5);
}

.google-visualization-table-table tr td .glyphicon-pause {
    visibility:visible;
    color: rgba(59, 153, 252, 1.0);
}

.axis-select {
}

.track-header-cell, .track-table-cell {
    font-size:10px;
}

#staging-empty {
    margin-top:20px;
}
